@font-face {
  font-family: cosmos;
  src: url(../fonts/planet_kosmos/PLANK___.TTF);
}

@font-face {
  font-family: crazy;
  src: url(../fonts/Roboto-Bold-Condensed/Roboto-BoldCondensed.ttf);
}

@font-face {
  font-family: attention;
  src: url(../fonts/village-font/Village-wLn3.ttf);
}

@font-face {
  font-family: savage;
  src: url(../fonts/aespa-cufonfonts/aespa_Display.ttf);
}

body {
  margin: 0;
  background: linear-gradient(to bottom, #e0e0e0, #cfcfcf);
  background-size: cover;
  background-attachment: fixed;
  text-transform: uppercase;
}

html {
  scroll-behavior: smooth;
}
