.overviewContainer {
  display: flex;
}

.overviewProducts {
  width: 60%;
}

.productColumn {
  font-family: crazy;
  display: flex;
  border: 1px solid black;
  border-radius: 10px;
  margin-left: 1%;
  margin-bottom: 1%;
  margin-right: 1%;
  max-height: 150px;

  height: auto;
}

.rowImage {
  flex: 1;
  max-width: 15%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid black;
}

.columnImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 8px;
}

.rowTotal {
  flex: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.rowTop {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
  width: 100%;
}

.rowFill {
  padding: 0 0 0 1%;
}

.rowPrice {
  font-size: clamp(0.5rem, 1vw, 2rem);
  display: flex;
  justify-content: center;
  align-items: center;
}

.productDescription {
  width: 100%;
  border-right: 1px solid black;
}

.productDescription h1 {
  font-size: clamp(0.5rem, 1vw, 1.5rem);
  margin-bottom: 10px;
}

.productPricing {
  width: 30%;
  border-right: 1px solid black;
}

.productPricing p {
  font-weight: bold;
}

.productQuantity {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1%;
}

.rowQuantity {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.amountButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  border: 1px solid #ddd;
  background-color: #fff;
  width: auto;
  padding: 8px;
}
.amountButton button {
  font-size: clamp(0.5rem, 1vw, 1.5rem);
  cursor: pointer;
  background: none;
  color: #333;
  border: none;
  font: inherit;
  outline: none;
  padding: 0 15px;
}

.amountButton span {
  padding: 0 15px;
  font-size: clamp(0.5rem, 1vw, 1rem);
  font-weight: bold;
}

.productQuantity a {
  color: black;
}

.totalContainer {
  font-family: crazy;
  width: 40%;
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 1%;
  margin-right: 1%;
  max-height: 200px;
}

.totalPrice {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: clamp(0.5rem, 1vw, 1.5rem);
}
.totalPrice h1 {
  margin: 1%;
}

.totalCheckout {
  margin: 1%;
}

.totalCheckout button {
  width: 100%;
  cursor: pointer;
  background: none;
  color: white;
  border: none;
  font: inherit;
  outline: none;
  font-size: clamp(0.5rem, 1vw, 2rem);
  background-color: black;
  height: 20%;
  min-height: 50px;
  border-radius: 10px;
}

.totalIcons {
  display: flex;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  gap: 1%;
}

.overviewColumn {
  font-family: crazy;
  min-height: 40px;
  margin: 1%;
  font-size: clamp(0.5rem, 1vw, 5rem);
}

.overviewColumn h1 {
  margin: 0;
}
