.merchContainer {
  width: 100%;
  margin: auto;
  border-top: 1px black solid;
  position: relative;
  overflow: hidden;
  font-size: clamp(0.2rem, 1vw, 1rem);
  font-family: crazy;
}

.merchSlider {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  width: 100% !important;
  height: 100% !important;
}

.merchSlider:hover .product-image {
  transform: scale(1.05);
  cursor: pointer;
}

.merchSlider:hover .add-to-cart {
  bottom: 10px;
  opacity: 1;
}

@media (max-width: 480px) {
  .merchContainer {
    font-size: 1rem;
  }
}
