.checkoutSummaryContainer {
  font-family: crazy;
  width: 60%;
  margin: 2%;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #f9f9f9;
  height: fit-content;
}

.checkoutSummaryHeader {
  font-size: clamp(1rem, 2vw, 3rem);
  text-align: center;
  margin-bottom: 20px;
}

.checkoutSummaryCards {
  margin-bottom: 20px;
}

.productCard {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #fff;
}

.productCard .productInfo {
  display: flex;
  flex-direction: column;
}

.productCard h2,
.productCard h3 {
  margin: 5px 0;
}

.discountSection {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.discountInput {
  padding: 10px;
  width: 75%;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.applyDiscountBtn {
  width: 20%;
  cursor: pointer;
  background-color: black;
  color: white;
  font-size: 1rem;
  padding: 10px;
  border: none;
  border-radius: 10px;
}

.priceSummary {
  margin-top: 20px;
}

.priceRow {
  display: flex;
  justify-content: space-between;
  font-size: clamp(0.8rem, 1vw, 1.5rem);
  margin-bottom: 10px;
}

.totalRow {
  display: flex;
  justify-content: space-between;
  font-size: clamp(1rem, 2vw, 2rem);
  font-weight: bold;
  margin-top: 20px;
  border-top: 1px solid black;
  padding-top: 10px;
}

@media (max-width: 480px) {
  .overviewContainer {
    display: block;
  }
  .overviewProducts {
    width: 100%;
  }

  .productDescription h1 {
    font-size: 16px;
  }

  .productPricing p {
    font-size: 16px;
  }

  .amountButton {
    width: 50%;
    padding: 10px;
  }

  .amountButton span {
    font-size: 16px;
  }

  .totalContainer {
    width: auto;
    margin-left: 1%;
    font-size: 16px;
  }

  .totalPrice {
    font-size: 16px;
  }

  .totalCheckout button {
    font-size: 16px;
  }

  .overviewColumn {
    font-size: 1.5rem;
  }
}
